.custom-btn {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  border: 2px solid #000;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.custom-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateY(-7px);
}

.nav-linked {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .nav-linked {
      font-size: 0.85rem;
  }
}

.overlay-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-gradient, #000);
  /* Adicione um gradiente ou cor */
  z-index: 9999;
  transform: translateY(-100%);
  transition: transform 0.8s ease-in-out;
}

.overlay-transition.active {
  transform: translateY(0);
}


.nav-hover {
  position: relative;
  text-decoration: none; /* Remove sublinhado padrão */
  padding-bottom: 3px; /* Dá um espaço para a linha */
}

.nav-hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: blue; /* Cor da linha */
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}


.nav-hover:hover::after {
  width: 100%;
  left: 0;
}


/* Estiliza a tela de transição */
/* Tela preta cobrindo toda a tela inicialmente */
.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black; /* ou outra cor que combine */
  z-index: 100;
  transition: transform 0.8s ease-in-out;
  transform: translateY(100%);
}

.transition-overlay.active {
  transform: translateY(0);
}

/* Animação para sumir */
@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      visibility: hidden;
  }
}
